h1 {
  margin: 25px;
  color: white;
}

.main {
  background-color: rgba(255, 255, 255, 0.205);
  width: 100%;
  
}

.users {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
}

.info {
  flex-basis: 22%;
  color: white;
  background-color: rgba(0, 0, 0, 0.616);
  margin: 5px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
}

.info h4, p {
  border: 1px solid rgba(173, 129, 80, 0.575);
  background-color: rgba(173, 109, 80, 0.219);
  border-radius: 5px;
  padding: 5px;
  transition: 0.5s;
  margin: 5px;
}

.info h4:hover, p:hover {
  transition: 0.5s;
  transform: translateY(5px);
  box-shadow: 5px 5px 25px rgba(173, 129, 80, 0.575),
              -5px -5px 25px rgba(173, 129, 80, 0.575);
  cursor: default;
}

.delete .btn {
  border: 1px solid white;
  color: white;
  background-color: rgba(173, 91, 80, 0.575);
  transition: 0.5s;
  padding: 5px;
  margin: 5px;
}

.delete .btn:hover {
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  background-color: rgb(175, 57, 57);
  transition: 0.5s;
  transform: translateY(-1px);
}
