doctype html
html(lang='fa')
  head
    title سامانه آموزش مجازی
    link(href='/stylesheets/style.css', rel='stylesheet')
  body
    .navbar(role='navigation')
      .container.one
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          a.navbar-brand(href='#') سامانه آموزش مجازی
      .container.two
        .navbar-collapse.collapse
          ul
            if user
              li(class=(title == 'members' ? 'active' : ''))
                a(href='/') دوره‌ها
              li(class=(title == 'profile' ? 'active' : ''))
                a(href='/profile') پروفایل کاربری
            if !user
              li(class=(title == 'register' ? 'active' : ''))
                a(href='/users/register') ثبت نام
              li(class=(title == 'login' ? 'active' : ''))
                a(href='/users/login') ورود  
          ul
            if user
              li
                a(href='/users/logout') خروج از حساب کاربری
    .container
      !=messages()
    block content
    