extends base

block content
  h2.page-header Exam Page
  if errors
    each error, i in errors
      div.alert.alert-danger #{error.msg}
  if exams
    if contents
      form(method='post', action=`/content/${contents._id}/${exams._id}`)
        .form-group
          label Exam name : #{exams.name}
          input.form-control(name='name', type='text', placeholder='Enter Exam name')
          label Score :
          input.form-control(name='score', type='number', placeholder='Enter Score')
        input.btn.btn-primary(type='submit', name='submit',value='submit')